.background{
    width: 700px;
    height: 890px;
    position: fixed;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
  }
  
  .background .shape{
      height: 200px;
      width: 200px;
      position: fixed;
      border-radius: 50%;
  }
  
  form{
    width: 700px;
    height: auto;
    background-color: rgba(255,255,255,0.13);
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px; 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(0, 0, 3, 0.6);
    padding: 50px 35px;
  }
  
  form *{
    font-family: 'Quicksand',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline-color:rgba(110, 103, 103, 0.27);
    border-color: rgba(110, 103, 103, 0.27);
  }
  
  form h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder{
    color: #000000;
  }
  
  button{
    margin-top: 50px;
    width: 100%;
    background-color: #787070;
    color: rgba(110, 103, 103, 0.27);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social{
    margin-top: 10px;
    display: flex;
  }
  .social div{
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(110, 103, 103, 0.27);
    color: #7a8296;
    text-align: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }
  .social .fb{
    margin-left: 25px;
  }
  .social i{
    margin-right: 4px;
  }




/*  index.php */

.index-main{
  height: 150vh;
}

.index-main-haut-de-page{
  background-image: url('https://images.unsplash.com/photo-1682687981974-c5ef2111640c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 100%;
  color: white;
}

.index-main-haut-de-page h1{
  font-size: 3.0em;
}

.index-main-h2{
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  margin-top: 4%;
}

.index-main-content{
  width: 80%;
  border-radius: 20px;
  background-color: grey;
  margin: auto;
  margin-top: 4%;
  padding: 3%;
  display: flex
}

.index-main-content img{
  border-radius: 20px;
}

.index-main-content-element1{
  display: flex;
  flex-direction: column;
  padding-left: 2%;

}

.index-main-content-element1 h3{
  display: flex;
  align-items: center;
  font-size: 2.2em;
  margin-bottom: 2%;
}

.index-main-content-element1 p{
  font-size: 1.3em;
  text-align: justify;
}

.index-main-content-element1 a{
  font-size: 1.2em;
  margin-top: 2%;
  color: black;
  transition: all .2s ease-in-out;
}

.index-main-content-element1 a:hover{
  font-size: 1.3em;
  text-decoration: underline;
}

.index-main-content-element1-price{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}