#nav {
    background-size: auto;
    background-color: #ADA7A3;
    display: flex;
    list-style: none;
}

#nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    margin-right: auto;
}
