/*
Style sheet for user.php and
                user_edit.php
                shopping.php

*/

.user-main{
    height:100vh;
    font-size: 1.2em;
}

.user-main-h1{
    display: flex;
    justify-content: center;
    margin: 3%;
}

.user-main-container1{
    border-radius: 20px;
    margin: 3%;
    padding: 2%;
    background-color: #ADA7A3;
    color: black;
}

.user-main-container1-h2{
    margin: 1%;
    display: flex;
    font-size: 1.8em;
    
}

.user-main-container1-element1{
    display: flex;
    margin: 1% 0% 0% 1%;
}

.info{
    font-size: 1.1em;
    text-decoration: underline;
}

.user-main-links{
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 20px;
    margin: auto;
    width: 14%;
    padding: 0.5%;
    transition: all .3s ease-in-out;
}

.user-main-links a{
    color: rgb(255, 255, 255);
}

.user-main-links:hover{
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    margin: auto;
    width: 14%;
    padding: 0.5%;
}



/*
user_edit.php
*/


.userEdit-main{
    height: 78vh;
}



/*Shoppping.php*/



.shopping-main{
    height: 78vh;
}